/************************************** Kaupatakkid ********************************************/
.texti__spurning {
  font-family: "Roboto Slab";
  font-size: 25px;
}

.takkid__kaupa {
  padding: 0.5em 2.5em;
  font-family: "Open Sans";
  font-size: 32px;
  color: #fff;
  background-color: #696969;
  border-radius: 5px;
}

.textiOgTakkid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
