header {
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
  padding: 2em;

  width: 100%;
  min-height: 500px;

  background: transparent url(header.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}
