@charset "UTF-8";
html { /* stylelint-disable-line */
  box-sizing: border-box; }

body { /* stylelint-disable-line */
  margin: 0; }

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 16px; }

section { /* stylelint-disable-line */
  margin-bottom: 10em; }

.header {
  width: 100%;
  /* 1200px; */
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  background: url("../wubbalubbadubbdubb.jpg") no-repeat fixed;
  background-position: center;
  background-size: 112% 100%; }

@media (max-width: 400px) {
  .header {
    background-position: unset;
    background-size: 377% 218%; } }

/************************************** Efri Hluti *********************************************/
.haus {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.vinstraMegin__vListi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin: 10px -10px 10px 0; }

.efriHluti {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  /* 1200px; */
  height: 50px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7); }

@media (max-width: 400px) {
  .efriHluti {
    width: 120%; } }

.haegraMegin__hListi, .vinstraMegin__vListi {
  list-style-type: none;
  /* nota til að eyða dot fyrir framan listi */ }

.hListi__gildi {
  margin-top: -5px; }

.haegraMegin__hListi {
  display: flex;
  justify-content: center;
  width: 150px;
  padding-left: 0; }

.bar {
  color: #fff;
  text-decoration: none; }

.bar-1 {
  font-size: 20px; }

.bar-2 {
  font-family: "Open Sans";
  font-size: 15px; }

.bar__litill {
  padding: 6px 8px;
  font-family: "Open Sans";
  font-size: 15px;
  color: #fff;
  background: #696969;
  border: 0;
  /* none */
  border-radius: 2px; }
