

.headerum {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  height: 500px;

  margin-bottom: 2em;

  background: transparent url("../bg-subpage.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-position: center; }
  @media (max-width: 400px) {
    .headerum {

      } }

.heading--one{
  color: white;
  line-height: 7em;
  font-size: 4em;}
/************************************ Um FooÞjónusta *******************************************/
.heading--two{
  font-family: "Roboto Slab", serif;}

.p1 {
  padding-bottom: 1em;}

.p2 {
  float: right;
  width: 56%;
  font-size: 1.4em;
  font-style: italic;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;}
  @media (max-width 600px) {
    .p2 {
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 35px; } }

.p3 {
  padding-right: 10px;
  font-size: 0.7em;
  padding-top: 1em;}

.p4 {
  padding-bottom: 1em;}
